name: CI

on:
  - push
  - pull_request

jobs:
  base:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Prepare python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-${{ matrix.python-version }}-ci-base

    - name: Install dependencies
      run: |
        .github/workflows/install_deps.sh amici
        pip install .

    - name: flake8
      run: |
        ./run_flake8.sh

    - name: Run tests
      timeout-minutes: 5
      run: |
        python -m pytest --nbmake doc
        python -m pytest --cov=yaml2sbml --cov-report=xml tests -s

    - name: Test CLI
      run: |
        ./tests/test_CLI.sh

    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
